.App {
  text-align: center;
}

.WeatherWidget {
  background-color: white;
  text-align: center;
  border: 1.5px solid rgba(128, 128, 128, 0.267);
  border-radius: 15px;
  padding: 30px;
  margin: 50px 50px 10px 50px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.137);
  min-width: 400px;
}

.Search button {
  margin: 0 5px;
}

.Forecast {
  padding-top: 30px;
  text-align: center;
}



.Forecast .city {
  color: pink;
}

.icon {
  max-width: 50%;
}