.App {
  justify-content: center;
  padding: 30px;
}

.WeatherWidget {
  background-color: white;
  text-align: center;
  border: 1.5px solid rgba(128, 128, 128, 0.267);
  border-radius: 15px;
  padding: 30px 20px;
  margin: 0 auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.137);
  max-width: 740px;
  min-width: 550px;
}

.Search button {
  margin: 0 6px;
  padding: 8px 13px;
}

button:hover {
  transition-duration: 0.4s;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
}

.Search .searchButton {
  background-color: rgb(51, 89, 133);
  border: none;
}


.Search .metricButton {
  background-color: rgb(202, 106, 27);
  border: none;
}

.Search .imperialButton {
  background-color: rgb(57, 138, 61);
  border: none;
}

.Forecast {
  padding-top: 30px;
  text-align: center;
}

.Forecast ul {
  list-style: none;
  height: 100%;
}

.Forecast .weather-temperature {
  justify-content: center;
  align-self: center;
  text-align: left;
}

.Forecast .weather-description {
  justify-content: center;
  align-self: center;
  text-align: right;
  font-size: 20px;
}

.Forecast img {
  max-width: 50%;
}

.footer {
  display: block;
  text-align: center;
  padding-top: 20px;
}

a {
  text-decoration: none;
}